header-menu-complex.nav.complex-menus(itemscope, itemtype='WebsiteHeader')
  meta(itemprop='type', content='complex')
  if item.logos && item.logos[0]
    div.left.logos
      each logo in item.logos
        a.logo-link(href=logo.url, itemprop='logos', itemscope, itemtype='WebsiteLogo')
          if logo.image
            img.logo-image(src=logo.image, alt=logo.alt, itemprop='image')
          if logo.name
            span(itemprop='url')=logo.name

  if item.menuCollections && item.menuCollections[1]
    div.right.secondary
      each menu in item.menuCollections[1].menus
        if menu.links
          span.menu(tabindex=0,
            data-menu-title=menu.name,
            onmouseenter='{ showMenu }',
            onfocus='{ showMenu }'
            onmouseleave ='{ hideMenu }',
            onblur='{ hideMenu }')
            .menu-title.fade-on-hover=menu.name
        else
          if menu.type == 'button'
            a.button(href=menu.url, tabindex=0)=menu.name
          else
            a.fade-on-hover(href=menu.url, tabindex=0)=menu.name

  if item.menuCollections && item.menuCollections[0]
    div.center.primary
      each menu in item.menuCollections[0].menus
        if menu.links
          span.menu(tabindex=0,
            data-menu-title=menu.name,
            onmouseenter='{ showMenu }',
            onfocus='{ showMenu }'
            onmouseleave ='{ hideMenu }',
            onblur='{ hideMenu }')
            .menu-title.fade-on-hover=menu.name
        else
          if menu.type == 'button'
            a.button(href=menu.url, tabindex=0)=menu.name
          else
            a.fade-on-hover(href=menu.url, tabindex=0)=menu.name

  .menu-wrapper(class='{ active: menuToShow }', onmouseleave ='{ hideMenu }')
    if item.menuCollections && item.menuCollections[0]
      .menu-bodies(itemprop='menuCollections', itemscope, itemtype='WebsiteMenuCollection')
        each menu in item.menuCollections[0].menus
          if menu.links
            .menu-body(class='{ active: "' + menu.name + '" == menuToShow, from-right: slideDirection == "right", from-left: slideDirection == "left"}', data-menu=menu.name, itemprop='menus', itemscope, itemtype='WebsiteMenu')
              .menu-content
                each link in menu.links
                  .menu-link(itemprop='links', itemscope, itemtype='WebsiteMenuLink')
                    a(href=link.url, itemprop='url')
                      if link.image
                        img.menu-link-icon(src=link.image, alt=link.name, itemprop='image')
                      .menu-link-text
                        .menu-link-name(itemprop='name')=link.name
                        if link.description
                          .menu-link-description(itemprop='description')=link.description
          else
            span.meta-only(itemprop='menus', itemscope, itemtype='WebsiteMenu')
              meta(itemprop='url', content=menu.url)
              meta(itemprop='name', content=menu.name)

    if item.menuCollections && item.menuCollections[1]
      .menu-bodies(itemprop='menuCollections', itemscope, itemtype='WebsiteMenuCollection')
        each menu in item.menuCollections[1].menus
          if menu.links
            .menu-body(class='{ active: "' + menu.name + '" == menuToShow, from-right: slideDirection == "right", from-left: slideDirection == "left"}', data-menu=menu.name, itemprop='menus', itemscope, itemtype='WebsiteMenu')
              .menu-content
                each link in menu.links
                  .menu-link(itemprop='links', itemscope, itemtype='WebsiteMenuLink')
                    a(href=link.url, itemprop='url')
                      if link.image
                        img.menu-link-icon(src=link.image, alt=link.name, itemprop='image')
                      .menu-link-text
                        .menu-link-name(itemprop='name')=link.name
                        if link.description
                          .menu-link-description(itemprop='description')=link.description
          else
            span.meta-only(itemprop='menus', itemscope, itemtype='WebsiteMenu')
              meta(itemprop='url', content=menu.url)
              meta(itemprop='name', content=menu.name)

